{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>htmx-using-golang</title>
	<script src="https://unpkg.com/htmx.org@2.0.3/dist/htmx.js" integrity="sha384-BBDmZzVt6vjz5YbQqZPtFZW82o8QotoM7RUp5xOxV3nSJ8u2pSdtzFAbGKzTlKtg" crossorigin="anonymous"></script>
</head>
<body>
	{{ template "form" . }}
	<hr>
	{{ template "display" . }}
</body>
</html>
{{ end }}

{{ block "form" . }}
<form hx-post="/contacts">
	name: <input type="text" name="name" />
	email: <input type="text" name="email" />

	<button type="submit">Submit</button>
</form>
{{ end }}

{{ block "display" . }}
	<div style="display: flex; flex-direction: column;">
	{{range .Contacts }}
		<div>
			Name: <span>{{ .Name }}</span>
			Email: <span>{{ .Email }}</span>
		</div>
	{{ end }}
	</div>
{{ end }}
